/* variables */
@import '../helpers/var';
/* mixins */
@import '../helpers/mixins';

/* General Rules */
*,
*:before,
*:after {
    box-sizing: border-box;
    @include transition(all .5s ease-in-out);
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
    color:$headcolor;
    cursor: pointer;
}
li{
    list-style: none;
}
a:hover,a:focus,.special:hover{
    color:$hovercolor;
}
.clearfix{
    clear: both;
}
button:focus{
    outline:none;
}
body{
    overflow-x: hidden;
}
.section{
    height: 100%;
}