/* variables */
@import '../helpers/var';
/* mixins */
@import '../helpers/mixins';

/* General Rules */
*,
*:before,
*:after {
    box-sizing: border-box;
    @include transition(all .5s ease-in-out);
    font-family: 'Droid Sans', sans-serif;
}
html,body{
    width:100%;
}
a{
    text-decoration: none;
    color:$headcolor;
    cursor: pointer;
}
li{
    list-style: none;
}
a:hover,a:focus,.special:hover{
    color:$hovercolor;
}
.clearfix{
    clear: both;
}
button:focus{
    outline:none;
}
body{
    overflow-x: hidden;
}
.center{
    text-align: center;
}
.container{
    width:80%;
    margin: 0 auto;
}
.image{
    display:inline-block;
    float:left;
    width:45%;
    margin-right: 10px;
}
.content{
    display: inline-block;
    float:left;
    width:50%;
    margin-left:10px;
}
.bold{
    font-weight: bold;
    color:$contentcolor;
}