*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
a{
    text-decoration: none;
    color:$contentcolor;
    cursor: pointer;
    color: $headcolor
}
li{
    list-style: none;
}
a:hover,a:focus,.special:hover{
    color:$hovercolor;
}
.clearfix{
    clear: both;
}
header{
    background: $mainbackground;
    color:$headcolor;
    height: 100px;
    .logo{
        width:20%;
        float:left;
        img{
            width:80%;
            margin:0 auto;
        }
    }
    nav{
        width:75%;
        float:right;
        ul{
            margin-top:5%;
            li{
                float:right;
                a{
                    padding-right: 2em;
                    text-align: center;
                    font-weight: bold;
                    font-size: $headfont;
                }
                .special{
                        color:$specialcolor;
                    }
            }
        }
    }
}