/*variables */
$headcolor:#302B2D;
$contentcolor:#0079BC;
$hovercolor:#24C3EB;
$mainbackground:#FFFFFF;
$contentbackground:#ACB1AB;
$headfont:2.5em;
$specialcolor:#F26E25;
$footer:#C1CFD5;
$navfont:1em;
$mobile:"(min-width:482px) and (max-width : 767px)";
$medium:"(min-width:768px) and (max-width:1223px)";
$smfont:0.75em;
$large:"(min-width:1224px) and (max-width:1824px)";
$slarge:"(min-width:1465px) and (max-width:1824px)";
$xsmall:"(max-width : 481px)";