/* base */
/* variables */
/*variables */
/* mixins */
/* General Rules */
*, *:before, *:after { box-sizing: border-box; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

a:hover { color: red; background-color: blue; }

a { text-decoration: none; color: #302B2D; cursor: pointer; }

li { list-style: none; }

a:hover, a:focus, .special:hover { color: #24C3EB; }

.clearfix { clear: both; }

button:focus { outline: none; }

body { overflow-x: hidden; }

/* header */
/* header */
header { position: relative; background: #FFFFFF; color: #302B2D; height: 100px; /* logo */ /* navigation */ }
header .logo { width: 20%; float: left; }
header .logo img { width: 80%; margin: 0 auto; }
header nav { width: 75%; float: right; }
header nav ul { margin-top: 5%; }
header nav ul li { display: inline-block; }
header nav ul li a { padding-right: 1em; text-align: center; font-weight: bold; font-size: 1em; }
header nav ul li a:hover { border-bottom: 3px solid #24C3EB; }
header nav ul li .special { color: #F26E25; }

/* responsive navigation style max width:767 */
@media (max-width: 767px) { header nav ul { padding: 0; position: absolute; right: 0; top: 30px; margin: 0; }
  header nav ul li { display: block; text-align: center; background-color: #ccc; margin-bottom: 5px; position: relative; right: 0; -moz-transition: right 0.4s; -o-transition: right 0.4s; -webkit-transition: right 0.4s; transition: right 0.4s; }
  header nav ul li a { display: block; padding: 4px; border-bottom: 1px solid #000; border-right: 5px solid #000; }
  header nav ul li a:hover, header nav ul li a:active, header nav ul li .special:hover { color: #000; border-bottom: 0; }
  header nav ul li:nth-child(2) { -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }
  header nav ul li:nth-child(3) { -moz-transition-delay: 0.4s; -o-transition-delay: 0.4s; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
  header nav ul li:nth-child(4) { -moz-transition-delay: 0.6s; -o-transition-delay: 0.6s; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }
  header nav ul li:nth-child(5) { -moz-transition-delay: 0.8s; -o-transition-delay: 0.8s; -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }
  header nav ul li:nth-child(6) { -moz-transition-delay: 1s; -o-transition-delay: 1s; -webkit-transition-delay: 1s; transition-delay: 1s; }
  header nav ul li:nth-child(7) { -moz-transition-delay: 1.2s; -o-transition-delay: 1.2s; -webkit-transition-delay: 1.2s; transition-delay: 1.2s; }
  header nav ul li:nth-child(8) { -moz-transition-delay: 1.4s; -o-transition-delay: 1.4s; -webkit-transition-delay: 1.4s; transition-delay: 1.4s; }
  header nav ul li:nth-child(9) { -moz-transition-delay: 1.6s; -o-transition-delay: 1.6s; -webkit-transition-delay: 1.6s; transition-delay: 1.6s; }
  header nav ul li:nth-child(10) { -moz-transition-delay: 1.8s; -o-transition-delay: 1.8s; -webkit-transition-delay: 1.8s; transition-delay: 1.8s; }
  header nav ul li:hover, header nav ul li:active { background-color: #24C3EB; }
  header nav:not(.active) ul li { right: -200px; }
  header nav .nav-btn { background: none; width: 40px; border: none; margin-right: 30px; float: right; margin-top: 15px; }
  header nav .nav-btn .btn-line { display: block; height: 2px; margin-bottom: 6px; background-color: #302B2D; }
  header nav .nav-btn .btn-line:last-child { margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
