/* footer */
footer{
    border-top:5px solid $contentcolor;
    background-color: $footer;
    width:100%;
    .info{
        font-size:1em;
        padding-bottom:10px;
    }
}
/* responsive content style max width:481*/
@media #{$xsmall} {
   footer .info{
        font-size:0.7em;
        padding-bottom:0px;
    }
}
