header{
    background: $mainbackground;
    color:$headcolor;
    height: 100px;
    .logo{
        width:20%;
        float:left;
        img{
            width:80%;
            margin:0 auto;
        }
    }
    nav{
        width:75%;
        float:right;
        ul{
            margin-top:5%;
            li{
                float:right;
                a{
                    padding-right: 1em;
                    text-align: center;
                    font-weight: bold;
                    font-size: $navfont;
                }
                a:hover {
                        border-bottom:3px solid $hovercolor;
                    }
                .special{
                        color:$specialcolor;
                    }
            }
        }
    }
}