.front{
    margin-top: 100px;
    height: 1px;
}
.image img{
    width:80%;
    margin:15px auto;
}
/* responsive content style max width:1824 & min width:1225 */
@media #{$large}{
    .image img{
    width:100%;
    margin:75px auto;
}
}