/* variables */
@import '../helpers/var';
.front{
    margin-top: 100px;
    height: 1px;
}
/*.image img{
    width:80%;
    margin:75px auto;
}*/
.headline{
    margin-top:100px;
}
/* responsive content style max width:1824 & min width:1225 */
@media #{$large}{
    .image img{
    width:100%;
    margin:125px auto;
}
}
/* responsive content style max width:1824 & min width:1465 */
    @media #{$slarge}{
    .image img{
    margin:75px auto;
}
}
    
